REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
OSS_ENDPOINT=
OSS_PUBLIC_ENDPOINT
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET_NAME=
ALIYUN_OSS_ROLE_ARN=
APP_ADMIN_SECRET=
ES_USERNAME=
ES_PASSWORD=
ES_HOST=
DASHSCOPE_API_KEY=
OCR_ENDPOINT=